@import "../../main.scss";

input {
    border: 1px solid rgb(116, 116, 116);
    border-radius: 4px;
    width: 500px;
    padding: 0.8% 2%;
}

#form-title {
    font-size: 30px;
}

#add-task-btn {
    color: #ffffff;
    padding: 0.8% 2%;
    background-color: $color-primary-08;
    border: 2px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &:hover {
        color: #fff;
        background-color: $hover-primary;
        transition: color 0.350s, background-color 0.350s;
    }

    &:not(:hover) {
        transition: color 0.350s, background-color 0.350s;
    }
}

#delete-all-btn {
    width: 20%;
    color: #ffffff;
    padding: 0.85% 2%;
    background-color: $hover-delete;
    border: 2px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &:hover {
        color: #fff;
        background-color: $hover-delete-secondary;
        transition: color 0.350s, background-color 0.350s;
    }

    &:not(:hover) {
        transition: color 0.350s, background-color 0.350s;
    }
}