input {
    border: 1px solid rgb(116, 116, 116);
    border-radius: 4px;
    width: 500px;
    padding: 0.8% 2%;
}

#form-title {
    font-size: 30px;
}

#add-task-btn {
    color: #ffffff;
    padding: 0.8% 2%;
    background-color: rgba(42, 42, 128, 0.8);
    border: 2px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &:hover {
        color: #fff;
        background-color: rgb(47, 119, 25);
        transition: color 0.350s, background-color 0.350s;
    }

    &:not(:hover) {
        transition: color 0.350s, background-color 0.350s;
    }
}

#delete-all-btn {
    width: 20%;
    color: #ffffff;
    padding: 0.85% 2%;
    background-color: rgba(148, 24, 24, 0.8);
    border: 2px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &:hover {
        color: #fff;
        background-color: rgba(195, 26, 26, 0.867);
        transition: color 0.350s, background-color 0.350s;
    }

    &:not(:hover) {
        transition: color 0.350s, background-color 0.350s;
    }
}