@import '../../main.scss';

#main-nav {
    height: 75px;
    background-color: $color-primary-08;
    background: linear-gradient(90deg, rgb(44, 44, 112) 0%, $color-primary-08 100%);
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);

    #navbar-logo {
        font-size: 40px;
        font-weight: 800;
        font-style: italic;
    }

    a {
        color: #ffffff;
        padding: 5px 20px;
        background-color: $color-primary-08;
        border: 2px solid transparent;
        border-radius: 25px;
        font-weight: bold;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        &:hover {
            color: rgb(113, 198, 255);
            border-color: rgb(113, 198, 255);
            background-color: $color-primary;
            transition: color 0.350s, border-color 0.350s;
        }

        &:not(:hover) {
            transition: color 0.350s, border-color 0.350s;
        }
    }
}