// colors
$white: #fff;
$black: #000;
$bg-body: #e2e3f7;
$color-primary: rgb(42, 42, 128);
$color-primary-08: rgba(42, 42, 128, 0.8);
$hover-primary: #343484;
$hover-confirm: rgb(47, 119, 25);
$hover-delete: rgba(148, 24, 24, 0.8);
$hover-delete-secondary: rgba(195, 26, 26, 0.867);